@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
a,
span,
li {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
}

.header {
    background-color: rgb(251, 254, 255);
    padding: 10px;
    display: grid;
    place-items: center;
}

.header .header-box {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.header .header-logo {
    box-sizing: border-box;
}

.header .header-logo img {
    width: fit-content;
    height: 50px;
}

.header .header-box .header-menu-box ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: uppercase;
}

.header .header-box .header-menu-box li {
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.header .header-box .header-menu-box li .header-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

.header .header-box .header-menu-box li .header-menu-icon:nth-child(2) {
    background-color: rgba(150, 0, 0, 0.63);
}

/* MAIN */
.main .main-box-1 {
    background: url(./images/main_bg.jpg) no-repeat center center;
    height: 45rem;
    background-size: fit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main .main-box-1 h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.main .main-box-1 .main-box-formbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main .main-box-1 .main-box-formbox .main-formbox {
    border-right: 1px solid gray;
    background-color: #ffff;
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.main .main-box-1 .main-box-formbox .main-formbox:nth-child(3) {
    border: none;
}

.main .main-box-1 .main-box-formbox .main-formbox:nth-child(4) {
    width: 15rem;
    height: 5rem;
    background-color: rgb(0, 132, 255);
    padding: 0;
}

.main .main-box-1 .main-box-formbox .main-formbox button {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 132, 255);
    border: none;
    outline: none;
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.main .main-box-1 .main-box-formbox .main-formbox select {
    border: none;
    width: 80%;
    color: rgb(0, 162, 255);
}

.main .main-box-1 .main-box-formbox .main-formbox input {
    border: none;
    width: 80%;
    color: rgb(0, 162, 255);
}

.main .main-box-1 .main-box-formbox .main-formbox .travellers {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;

}

.main .main-box-1 .main-box-formbox .main-formbox .travellers span {
    color: rgb(0, 162, 255);
    font-weight: 800;
    cursor: pointer;
}

.main .main-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.main .main-box-2 h2 {
    text-transform: uppercase;
    font-weight: 500;
}